<div class="container">
  <div class="row">
    <div class="col-md-12">
    
    <!--Search User-->
    <div class="form-inline">
        <%= form_with(url: users_path, method: :get, local: true) do |f|%>
          <span> <%= f.text_field :name , class:"form-control mr-sm-2", placeholder: "search startup by it name"%>
          <%= f.submit'search', class:"btn btn-outline-success my-2 my-sm-0"%><br>
          <%= link_to "Clear search",users_path %>
           <%= link_to  "Your Profile", user_path(current_user.id), class: "btn btn-primary" %> </span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <% @users.each do |user| %>
      <% unless user == current_user %>
      <div class="profile card card-body px-3 pt-3 pb-0">
        <div class="profile-head">                     
          <div class="profile-info">
            <div class="profile-photo">
              <%= image_tag (user.avatar_thumbnail), class:"mx-auto d-block rounded-circle z-depth-1-half avatar-pic", style:"width:80px;height:80px"%>
            </div>
            <div class="profile-details">
              <div class="profile-name px-3 pt-2">
                <p>Name:</p>
                <h4 class="text-primary mb-0"><%= link_to "#{user.name}", user %></h4>
              </div>
              <div class="profile-email px-2 pt-2">
                <p>Email</p>
                <h4 class="text-muted mb-0"><%= user.email %></h4>
              </div>
              <div class="dropdown ml-auto">
                <a href="#" class="btn btn-primary light sharp" data-toggle="dropdown" aria-expanded="true"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg></a>
                <ul class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-169px, 30px, 0px);">
                  <li class="dropdown-item"><i class="fa fa-user-circle text-primary mr-2"></i> View profile</li>
                  <li class="dropdown-item"><i class="fa fa-users text-primary mr-2"></i> Add to close friends</li>
                  <li class="dropdown-item"><i class="fa fa-plus text-primary mr-2"></i> Add to group</li>
                  <li class="dropdown-item"><i class="fa fa-ban text-primary mr-2"></i> Block</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
    <hr>
  </div>
    <%= paginate @users %>
  </div>
