
<div class="col-xl-12">
  <h1>Events</h1>

  <div class="d-flex order-manage p-3 align-items-center mb-4">
    <%= form_with(url: events_path, method: :get, local: true) do |f|%> 
      <div class="row text-center">
        <%= f.text_field :title , class:"form-control col-xl-4 ", placeholder: "search Event"%>
        <%= f.submit'search', class:"btn btn-primary col-xl-4 "%><br>
        <%= link_to "Clear search",events_path, class:"btn btn-info col-xl-4" %>
      </div>
    <% end %>
  </div>

  <div class="card">
    <div class="card-body text-center" >
      <%= link_to "See eventkam users", users_path, class: "btn btn-primary", method: :get %>
      <%= link_to "+ Add a new event", new_event_path, class: "btn btn-primary", method: :get %>
    </div>
  </div>


  <div class="card">
    <div class="card-body pt-2">
      <div class="table-responsive ">
        <table class="table items-table">
          <% @events.each do |event| %>
          <tbody>
            <tr>
              <th class="my-0 text-black font-w500 fs-20">Event information</th>
              <th class="my-0 text-black font-w500 fs-16">Participants</th>
            </tr>
            <tr>
              <td>
                <div class="media">
                   <%= image_tag (event.image_thumbnail), class:"mr-3 img-fluid rounded", width:"85",alt:"DexignZone"%>
                  <div class="media-body">
                    <small >Create By:<%= link_to "#{event.user.name}", user_path(event.user.id), class:"mt-0 mb-1 text-primary font-w500" %></small>
                    <h5 class="mt-0 mb-2 text-black mb-4">Event Name: <%= event.title %></h5>
                    <div class="star-review fs-16">
                      <p class="ml-3 text-dark" style="word-wrap: break-word"><%= event.content%></p>
                    </div>

                     <%= link_to "See the Post", event_path(event.id), class: "badge badge-rounded badge-primary" %>  
                    <% if current_user && current_user == event.user || current_user.try(:admin?)%>
                      <%= link_to "Edit", edit_event_path(event), class: "badge badge-rounded badge-secondary"%>
                      <%= link_to "Delete", event_path(event.id), method: :delete, data: {confirm: 'Are you sure?'}, class: "badge badge-rounded badge-primary"%> 
                    <%else%>
                    <%end%>
                   
                  </div>
                </div>
              </td>
              <td>
                <h4 class="my-0 text-secondary font-w600"><a href="javascript:void()" class="badge badge-info"><%=event.participants.count%></a></h4>
              </td>
              <td>
                <a href="#" class="ti-close fs-28 text-danger las la-times-circle"></a>
              </td>
            </tr>
          </tbody>
          <%end%>
        </table>
         
      </div>	
    </div> 
    <div class="card">
      <div class="card-body text-center" >
        <%= paginate @events, theme: 'twitter-bootstrap-4',
                    pagination_class: "pagination-sm",
                    nav_class: "d-inline-b"%>
      </div>
    </div>

  </div>
</div>

 



